<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>글 생성</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form action="/article/create" method="post">
        <input type="text" placeholder="name" name="name"><br/>
        <input type="text" placeholder="title" name="title"><br/>
        <textarea name="context" id="context" cols="30" rows="5"></textarea><br/>
        <button type="submit">제출</button>
    </form>
</body>
</html>
